.cards{
 
  background-color:red;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card h1,
.card h2 {
  margin: 0;
}

.card h1 {
  font-size: 20px;
}

.card h2 {
  font-size: 16px;
}